/*
@media screen and (max-width: 480px) {
	p {
		margin-left: 20px;
		color: #000000;
		font-style: normal;
		font-family: Arial;
		font-size: 80%;
	}
}
*/
p {
	-webkit-auto-text-size-adjust : none;
	line-height : 1.8 ;
}
/*自動アジャスト機能をオフにする*/

{  }