/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */

/*author*/
#author-info{ width:auto; overflow:hidden; padding:16px; background-color:#eee; font-size:12px;}
#author-info .port,.intro{background-color:#fff; border:1px solid #aaa; min-height:180px;}
#author-info .port{float:left;width:250px; border-right:0px; text-align:center;}
#author-info .port .label{width:180px; background-color:#aaa; color:#fff; margin:10px auto 10px auto;}
#author-info .intro{float:left;width:390px; border-left:0px;}
#author-info .intro .author{ font-size:22px; color:#333333; font-family:Arial; margin:10px 10px 10px 0; border-bottom:1px solid #ccc;}
#author-info .intro .author span{ font-size:14px;}
#author-info .intro .authorInf{ line-height:150%; padding-right:10px;}

@media screen and (max-width: 1024px) {

		
	
header{
	margin:0;
	width:100%;
	overflow: hidden;
	padding:0;
	border-bottom: none;
	/* ボックスシャドウ */
	box-shadow: none;
	
}
	

		
	
	#header{
		width: 100%;
		background-image:none;
		border-bottom:2px solid #ccc;
	}
	
	#header .headLogo{
		float:left;
	}

	
	#main {
		width: 96%;
	}


	#topContent {
		width: 62%;
	}
	
	
	#content {
		width: 60%;
	}
	
	#contentqa {
		width: 55%;
	}
	
	
	#listsNew ul{
	margin:-20px 0 16px 6px;
	}

	#listsNew li{
		padding:10px 0;
	}
	
	
	#sidebar {
		width: 336px;
	}
	
	img{
		max-width:100%;
	}

	/* embedded videos */
	.video embed, 
	.video object,
	.video iframe{
		width: 100%;
		height: auto;
		
	}


/*##### NAV ##################*/
    #navi ul {
        width: 100%;
    }
 
	#navi ul li a {
        font-size: 12px;
    }
   
	#navi ul li span {
        font-size: 14px;
    }



/*ADS W*/
.adsfcontin .adl{float: none; width:336px; margin:auto}
.adsfcontin .adr{float: none;  width:336px; margin:auto; padding-top:20px;}







}






@media screen and (max-width: 940px) {/*785*/


/* top v2*/
.catlst{width:100%;	}

	
header{
	margin:0;
	width:100%;
	overflow: hidden;
	padding:0;
	border-bottom: none;
	/* ボックスシャドウ */
	box-shadow: none;
	

	
}
	#headerTop{
	margin:0 auto;
	width: auto;
	padding:0 0 0 20px;

}


		
	
	#header{
		width: 100%;
		background-image:none;
		border-bottom:2px solid #ccc;
	}

	

	

	#adsTop{
		/*
		margin-top:120px;
		*/
	}

	
	#adsTopEle{
	width:auto; 
	overflow:hidden;
	border:0px solid none;
	padding:0px;
	
		/* 角丸 */
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	-ms-border-radius:0px;
	-o-border-radius:0px;
	border-radius:0px;
	
	}


	
	
	
	
	#topContent {
		width: 100%;
	}

	
	

		
	#main {
		width: 96%;
	}
	

	#diry{
		display:none;
	}
			
	#content {
		width: auto;
		float: none;
		clear:both;
	}
	
	#contentqa {
		width: auto;
		float: none;
	}
	
	#sidebar {
	width: auto;
	margin-right:10px;
	float: none;
	clear:both;
	}
	
	
	
	


	img{
		max-width:100%;
	}


	/* embedded videos */
.video embed, 
.video object,
.video iframe{
		width: 100%;
		height: 120px;
	}



/*##### NAV ##################*/
    #navi {
        display: none;
    }
 
    #rwdMenuWrap {
        width: 100%;
        border-bottom: #aaa 1px solid;
		
    }
 
    #rwdMenuWrap #switchBtnArea {
        width: 100%;
        height: 60px;
		background-color:transparent;
        position: absolute;
		top:0;
    }
 
    #rwdMenuWrap #switchBtnArea #switchBtn {
        top: 60px;
        right: 10px;
        width: 40px;
        height: 40px;
        display: block;
        background: #4484ce;
        position: absolute;
        border-radius: 5px;
		z-index:105;
    }
 
    #rwdMenuWrap #switchBtnArea #switchBtn span {
        left: 20%;
        width: 60%;
        height: 4px;
        display: block;
        position: absolute;
        background-color: #fff;
        border-radius: 5px;
        transition: all 0.2s linear;
    }
    #rwdMenuWrap #switchBtnArea #switchBtn span:nth-of-type(1) {top:10px;transform: rotate(0);}
    #rwdMenuWrap #switchBtnArea #switchBtn span:nth-of-type(2) {top:18px;transform: scale(1);}
    #rwdMenuWrap #switchBtnArea #switchBtn span:nth-of-type(3) {bottom:10px;transform: rotate(0);}
 
    #rwdMenuWrap #switchBtnArea #switchBtn.btnClose span:nth-of-type(1) {top:18px;transform: rotate(-45deg);}
    #rwdMenuWrap #switchBtnArea #switchBtn.btnClose span:nth-of-type(2) {transform: scale(0);}
    #rwdMenuWrap #switchBtnArea #switchBtn.btnClose span:nth-of-type(3) {bottom:18px;transform: rotate(45deg);}
 
    #rwdMenuWrap ul {
        width: 100%;
		position:absolute;
		top:118px;
		z-index:100;
		display:none;
				
    }
 
    #rwdMenuWrap ul li {
        width: 110%;
        border-bottom: #fff 1px solid;
    }
 
    #rwdMenuWrap ul li a {
        padding: 15px 20px;
        text-align: left;
        display: block;
        background: #4484ce;
        position: relative;
		text-decoration:none;
		font-weight:bold;
		color:#fff;
	
    }
 
    #rwdMenuWrap ul li a:after {
        content: '';
        margin-top: -4px;
        top: 50%;
        right: 15px;
        width: 8px;
        height: 8px;
        color: #888;
        font-size: 16px;
        font-weight: bold;
        line-height: 160%;
        display: block;
        position: absolute;
        border-top: 2px solid #b0b0b0;
        border-right: 2px solid #b0b0b0;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
 
 	
	
	
	
	
	
	
	
#navi ul li a {
    height: 40px;
     line-height: 10px;
}
 

#navi ul li span{
	line-height:0;
	display: inline;
	font-size:16px;
}	




/*TOP PAGE ########## */	
	#headerTop{
	margin:0 auto;
	width: auto;
	}
	



/*ADS W*/
.adsfcontin .adl{float:left; width:336px;}
.adsfcontin .adr{float:right; width:336px;}



}

		
@media screen and (max-width:767.98px) {

/*top v2*/

.catlst{
	width:360px;
	margin-left:auto;
	margin-right:auto;

}

.catlst ul li{
	/*width:31%;
	min-height:118px;
	width:100%;*/
	width:112px;
	height:112px;
	
	}


#main {
width: 96%;
padding:0 2% 0 2%;
}
	
#inf{
	padding-left:10px;
}



#mainHeader{
	height: 100px;
}






#lnkInfo{
	overflow:hidden;
	border-bottom:1px solid #666;
}





#content {
	width: auto;
	float: none;
	font-size:16px;
	
	margin:0 0 0 0;
	
	border: none;

	/* ボックスシャドウ */
	box-shadow: none;
	background-color:#fff;
	
	padding:0;

}
	

#contHead{
	text-align:right;
	padding:0;
}

#contMbox{
	margin:0px;
}
#ttlMainBox{
	clear:both;
	text-align:left;
	padding:16px 10px 10px 5px;
}


#content .conts ul.nr{
	margin:0 0 0 20px;

}

#content .conts ul.num{
	margin:0 0 0 24px;
}


/* font size */

#ttlMainBox h1{
	font-size:20px;
	line-height:160%;
	font-weight:bold;
}	
	
	
.fwB{ 
	font-size:18px; 	
}
	
#content .conts{
	padding:10px 10px 10px 10px;
	line-height:200%;
}


#content .conts span.fb{
	font-size:16px;
}

/*

#content .conts h2[class*=""]{
	 font-size:18px;
 }

#content .conts h3[class*=""]{
	 font-size:18px;
 }

#content .conts h4[class*=""]{
	 font-size:18px;
 } 

*/


#content .conts h2.nrh2{
	 font-size:18px;
 }


 
#content .conts h2.p2nr{
	 font-size:18px;
 }
 
#content .conts h2.p2{
	 font-size:18px;
 }

#content .conts h2.t2{
	 font-size:18px;
 }

#content .conts .s1 h2{
	 font-size:18px;
 } 

#content .conts h2.p2{
	 font-size:18px;
 }
 
#content .conts h3.p3b{
	font-size:18px;
 }  
 
#content .conts h3.p3v2{
	font-size:18px;
 } 

#content .conts h3.p3v3{
	font-size:18px;
 } 
	
#content .conts .box h3.p3v3{
	
	border-left:5px solid #09F;
	border-bottom:1px solid #09F;
	background-color: #fff;
	margin:0 0 16px 0px;
	
 } 	
	
	
#content .conts h3{
	font-size:18px;
 } 

#content .conts h3.t3{
	font-size:18px;
}

#content .conts h3.lp3{
	font-size:18px;
}

#content .conts h4.p4b{
	font-size:18px;
}

#content .conts h4.lp4b{
	font-size:18px;
}

#content .conts h4.p4v4{
	font-size:18px;
}

#content .conts .box h4.p4v4{
	font-size:18px;
	border:1px solid #09F;
	background-color:#fff;
	padding:10px;
	margin:0px 3px 14px 3px;

}



#content .conts span.midasi{
	font-size:18px;
}

#content .conts span.midasi-s{
	font-size:16px;
}

#content .conts span.midasi a{
	font-size:18px;
}

#content .conts span.tbb{
	font-size:18px;
}


/*end font size*/


#content .conts .pcat{
	margin-left:0px;

 
}






	#adsTop{
		/*
		margin-top:60px;
		*/
		display:none;

	}

	
	.adsSide36{
		display:none;
	}







	
	
	#cse-search-box input[type="text"] {
		width:80px;
		padding: 0;
	}
	
	#cse-search-box input[type="submit"] {
	padding: 4px 0 0 0;
	}	
	
	
	
	#footer{
		width: auto;	
	}
	
	#footer ul{
	display:none;
	}

	


	#sidebar {
		
		margin-top:30px;
		width: 97%;
		padding:0 3% 0 0%;
	}
	
	
	#rele{
		display:none;
	}
	
	
	#diry{
		display:none;
	}

	#contHdr{
		display:none;
	}
	


	#contentqa {
		width: auto;
		float: none;
		font-size:16px;
	}
	
	img{
		max-width:100%;
	}


	/*SHARE*/
	#contHdl a img{
	width:65px
	}
	
	
		
.img-l{
	clear:both;
	float: none;
	width:100%;
}

.img-r{
	clear:both;	
	margin-top:12px;
	float: none;
	width:100%;
}	


	
/*SP ######################################################
SMART PHONE
##########################################################*/


#mainHeaderTop #pasobleSP h1{
	float: none;
	margin:0 0 0 0px;
	padding-top:50px;
	text-align:center;
	color:#666;
	font-size:18px;
	
}

#pasobleSP img{width:223px;height:112px;}

#mainHeaderTop{
	height:200px;
	margin:0 0 16px 0;
	padding:0;
	background:#f7fbff url(../mainImage/topBg.png) top center ;
}



/*ADS W*/
.adsfcontin .adl{float: none; width:336px; margin:auto}
.adsfcontin .adr{ display:none}



/*author*/
#author-info .port,.intro{min-height:100px;}
#author-info .port{float: none; width:300px; margin:auto; border-right:1px solid #aaa; border-bottom:0px;}
#author-info .intro{float: none; width:280px; margin:auto; padding:10px; border-left:1px solid #aaa; border-top:0px;}
#author-info .intro .author{ font-size:20px;}
#author-info .intro .author span{ font-size:14px;}

}

